html {
	width: 100vw;
	height: 110vh;
	background: red;
	position: absolute;
	margin: 0px;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
}

#dropdiv {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 80%;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 5px;
}

#dropper {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	border-width: 1px;
	border-style: solid;
	border-color: grey;
	border-radius: 5px;
}

#dropwrapper {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 110vh;
	background-color: red;
}

#heading {
	display: flex;
	justify-content: center;
	top: 0px;
	font-family: 'Pacifico';
	font-size: 18vw;
	width: 100vw;
	height: 40vh;
	color: white;
	position: relative;
}

#selectorWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 60vh;
	position: relative;
}

#img {
	background-color: black;
	display: inline-block;
}

.react-tabs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	border-radius: 5px;
	width: 50vw;
	height: 40vh;
}
