html {
	width: 100vw;
	height: 100vh;
	background: orange;
}

#dropdiv {
	display: flex;
	width: 70%;
	height: 20%;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 5px;
}

#dropper {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

#page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: red;
}

#heading {
	display: flex;
	justify-content: center;
	font-family: 'Pacifico';
	font-size: 18vw;
	width: 100vw;
	height: 50vh;
	color: white;
}

#img {
	background-color: black;
	display: inline-block;
}

.react-tabs {
	background-color: white;
	border-radius: 5px;
	width: 50vw;
	height: 50vh;
}
