<!DOCTYPE html>
<html>
	<head>
	<title>FireFilm</title>
	<meta charset="utf-8">
	<!-- include the favicon, Pacifico font, css -->
	<link rel="shortcut icon" type="image/png" href="../static/favicon/favicon.ico">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/landing.css">
	<link rel="stylesheet" type="text/css" href="../static/react-tabs.css">
	</head>
	<body>
	<!-- create a root div for React -->
	<div id="root"></div>
	<!-- include transpiled React code  -->
	<script type="module" src="../static/landing.js"></script>		
	</body>
</html>
