<!DOCTYPE html>
<html>

	<head>
	<title>FireFilm</title>
	<link rel="shortcut icon" type="image/png" href="../static/favicon/favicon.ico">
	<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>	
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	</head>

	<body>

	<div id="root"></div>

	<script type="module" src="../static/index.js"></script>		
	</body>


</html>
